<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Chat App Login</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <span class="mdl-navigation__link" style="cursor: pointer;" (click)="goToRegister()">Create new account</span>
      
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Chat App</span>
  
  </div>
  <main class="mdl-layout__content">
    
    <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-cell mdl-cell--6-col">
    
         <h1 style="text-align: center;"> Login </h1>
  <div class="mdl-textfield mdl-js-textfield">
    <input [(ngModel)]="username"  class="mdl-textfield__input" type="text" id="username">
    <label class="mdl-textfield__label" for="username">Username</label>
  </div>
   <br />
   <br />
  <div class="mdl-textfield mdl-js-textfield">
    <input [(ngModel)]="password" type="password" class="mdl-textfield__input" id="Password">
    <label class="mdl-textfield__label" for="username">Password</label>
  </div>
  <br />
   <br />

  <button (click)="Login()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Login
  </button>
  </div>
   <div id="login_snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
 
</div>


  </main>
</div>