.message-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
    background-color: #ddd;
}
app-conversationlistcomponent {
    height: 100%;
    width: 30%;
    padding: 0;
 }
  
app-messagelistcomponent {
    height: 90%;
    width: 70%;
    background: #aaa;
}