.message-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
    background-color: #ddd;
}
app-conversationlistcomponent {
    height: 100%;
    width: 30%;
 }
  