.message-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
    background-color: #ddd;
}
app-conversationlistcomponent {
    height: 100%;
    width: 30%;
    padding: 0;
 }
 .message-box-list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #ddd;
}
  
app-messagelistcomponent {
    height: 95%;
    width: 100%;
    background: #ddd;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:row;
    flex-direction: row;
}
app-messageformcomponent{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:row;
    flex-direction: row;
    width: 100%;
    height: 5%;
}