
<style>
 .page-content{
   height: 95%;
 }
 .mdl-layout__content{
   height: 98.3%;
 }
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Chat app</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <span class="mdl-navigation__link" (click)="addNewConvo()" style="cursor: pointer;">
          <div id="tt1" class="icon material-icons">add</div>
        </span>
       
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Chat app</span>
    <nav class="mdl-navigation">
      <span class="mdl-navigation__link" style="cursor: pointer;" (click)="logout()">logout</span>
     
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="flex-col-container">
  <div class="message-box">

    <app-conversationlistcomponent [conversationItems]="conversationList"></app-conversationlistcomponent>
    <div class="message-box-list">
      <app-messagelistcomponent [messageListItems]="messageList"></app-messagelistcomponent>
      <app-messageformcomponent></app-messageformcomponent>
      <dialog class="mdl-dialog">
        <div class="mdl-dialog__content">
          <p>
            Enter names of the participants, seperated by commas
          </p>
          <div class="mdl-textfield mdl-js-textfield">
            <input [(ngModel)]="conversationTxt" class="mdl-textfield__input" type="text" id="sample1">
            <label class="mdl-textfield__label" for="sample1">Text...</label>
          </div>

        </div>
        <div class="mdl-dialog__actions">
          <button (click)="startNewConvo()" type="button" class="mdl-button">Start new conversation</button>
          <button (click)="closeConvo()" type="button" class="mdl-button close">Close</button>
        </div>
      </dialog>
    </div>
  </div>
</div>
    </div>
  </main>
</div>


